*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color: #fcfcfc;
    --second-bg-color: #fff4f4;
    --text-color: #4d4d4d;
    --main-color: rgba(250, 154, 154, 0.836);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

span{
    color: var(--main-color);
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.home-circle-1{
    position: absolute;
    background-color: var(--main-color);
    height: 30vw;
    width: 30vw;
    bottom: 10rem;
    right: 0;
    z-index: -1;
    border-radius: 50%;
}

.home-circle-2{
    position: absolute;
    background-color: rgba(250, 160, 160, 0.836);
    width: 25vw;
    height: 25vw;
    margin: 0 auto;
    top: 0;
    right: 50px;
    z-index: -1;
    border-radius: 50%;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
    font-size: 5rem;
}

.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img{
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 20px solid var(--main-color);
}

.home-img img{
    position: relative;
    background-color: white;
    border: 30px solid white;
    width: 32vw;
    border-radius: 50%;
    cursor: pointer;
}

.home-content p{
    font-size: 1.8rem;
    font-weight: 500;
    max-width: 650px;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    font-size: 2.5rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icons a:hover{
    color: white;
    transform: scale(1.3) translateY(-5px);
    background-color: var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 01.rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);
    background: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

/* ABOUT ME CSS */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    background: var(--second-bg-color);
}

.about-circle{
    position: absolute;
    left: -150px;
    margin-top: 15rem;
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    background-color: var(--main-color);
}

.about-img{
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 20px solid var(--main-color);
}

.about-img img{
    position: relative;
    width: 30vw;
    border-radius: 50%;
    border: 30px solid white;
    cursor: pointer;
}

.heading{
    text-align: center;
    font-size: 8rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.5;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 1rem;
}

.about-content .text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

/* PROJECTS CSS */
.projects h2{
    margin-bottom: 8rem;
}

.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.projects-container .projects-box{
    flex: 1 1 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 3rem 2rem 4rem;
    height: 500px;
    border-radius: 2rem;
    text-align: center;
    border: 0.1rem solid rgb(224, 224, 224);
    cursor: pointer;
    transition: 0.4s ease;
}

.projects-container .projects-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
    background-color: white;
    color: var(--text-color);
}

.projects-box{
    font-size: 7rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}

.projects-box h3{
    font-size: 2.6rem;
}

.projects-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* CONTACT CSS */
.contact{
    background-color: var(--second-bg-color);
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 1.5px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
}

/* FOOTER CSS */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--main-color);
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a{
    font-size: 25px;
    color: white;
    border: 2px solid white;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    background-color: white;
    color: var(--main-color);
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover{
    border-bottom: 3px solid white;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}

/* POLARI CSS */
.polari .polari-box{
    display: flex;
}

.polari-box embed{
    height: 10%;
}

/* MEDIA QUERY */
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
    .home-circle-1{
        bottom: 5rem;
        width: 35vw;
        height: 35vw;
    }
    .home-circle-2{
        top: 5rem;
        width: 30vw;
        height: 30vw;
    }
}
@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1rem 3%;
        background: white;
        border-bottom: 1.5px solid var(--main-color);
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar a:hover{
        color: var(--main-color);
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }
    .home-circle-1{
        top: 50rem;
        width: 45vw;
        height: 45vw;
    }
    .home-circle-2{
        top: 10rem;
        width: 55vw;
        height: 55vw;
    }
    .home-img{
        display: grid;
        border: none;
        border-radius: 50%;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
        border: 25px solid var(--main-color);
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-circle{
        height: 50vw;
        width: 50vw;
    }
    .about-content{
        margin: 1rem 4rem;
    }
    .about-img{
        border: none;
    }
    .about img{
        width: 70vw;
        margin-top: 1rem;
        border: none;
        margin-bottom: 3rem;
        border: 25px solid rgba(255, 214, 214, 0.836);
    }
    .projects h2{
        margin-bottom: 3rem;
    }
}